[Desktop Entry]
Type=Application
Name=ClickyClick
Comment=Configurable automatic mouse clicker
Exec=/home/darius/ClickyClick/run.sh
Icon=input-mouse
Terminal=false
Categories=Utility;Game;
