[Desktop Entry]
Type=Application
Name=ClickyClick
Comment=Configurable automatic mouse clicker
Exec=@EXEC@
Icon=@ICON@
Terminal=false
Categories=Utility;Game;
